* {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.navbar p {
  color: #F3525A;
  font-size: 34px;
}

.navlinks {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  padding-left: 18px;
}

.navitems .navlinks:hover {
  color: #F3525A;
}

.main-banner-img {
  filter: brightness(50%);
}

.main-banner-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn1, .btn2 {
  font-size: 17px;
  border-radius: 50px;
  height: 57px;
  width: 166px;
  border: none;
  color: white;
  background-color: #F3525A;
}
.btn1:hover, .btn2:hover {
  color: black;
}

.btn2 {
  color: black;
  background-color: white;
  margin-left: 12px;
}

.user-icn, .line-icn, .scale-icn {
  background-color: white;
  padding: 20px;
  border-radius: 100%;
  color: #F3525A;
}

.offer > h2::after {
  display: block;
  content: "";
  border-bottom: 1px solid #F3525A;
  width: 10%;
  position: absolute;
  right: 680px;
  padding-top: 14px;
}

.bg-color-light {
  background-color: #f6f6f6;
}

.user-icn-2 {
  background-color: #F3525A;
  padding: 28px;
  border-radius: 100%;
  color: white;
}

.inner-shadow {
  box-shadow: inset -2px -20px 50px rgb(171, 170, 170);
}

.why-choose-us > h2::after {
  display: block;
  content: "";
  border-bottom: 1px solid #F3525A;
  width: 10%;
  position: absolute;
  right: 680px;
  padding-top: 14px;
}

.cube-icn, .percent-icn, .award-icn {
  background-color: #F3525A;
  padding: 20px;
  border-radius: 100%;
  color: white;
}

.learnmore-btn {
  padding: 16px 40px;
  background-color: white;
  color: black;
  border-radius: 50px;
  border: none;
}

.smile-icn, .add-icn, .customer-icn {
  background-color: #F3525A;
  padding: 20px;
  border-radius: 100%;
  color: white;
}

.name, .address, .service {
  width: 303px;
  height: 58px;
  padding: 16px 12px;
}

.quote-btn {
  width: 303px;
  height: 58px;
  padding: 16px 12px;
  background-color: #F3525A;
  color: white;
  border: none;
}

.team > h2::after {
  display: block;
  content: "";
  border-bottom: 1px solid #F3525A;
  width: 10%;
  position: absolute;
  right: 680px;
  padding-top: 14px;
}

.img1-detail, .img2-detail, .img3-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #F3525A;
  color: white;
  text-align: center;
  transition: 2s;
  padding: 16px 0;
  transform: translateX(-450px);
  z-index: -1;
}

.img1:hover > .img1-detail, .img2:hover > .img2-detail, .img3:hover > .img3-detail {
  transform: translateX(0px);
  transition: 1s;
  z-index: 1;
}

.left, .right {
  background-color: #F3525A;
  color: white;
  padding: 14px;
  border-radius: 100%;
  font-size: 20px;
}

.blog > h2::after {
  display: block;
  content: "";
  border-bottom: 1px solid #F3525A;
  width: 10%;
  position: absolute;
  right: 680px;
  padding-top: 14px;
}

.blog-1, .blog-2, .blog-3 {
  height: 294px;
  width: 442px;
  overflow: hidden;
  transition: 1s;
}

.blog-1 > img, .blog-2 > img, .blog-3 > img {
  height: 100%;
  width: 100%;
  transition: 1s;
}

.blog-1 > img:hover, .blog-2 > img:hover, .blog-3 > img:hover {
  transform: scale(1.2);
  transition: 1s;
}

.input2 {
  width: 497px;
  height: 57px;
  padding: 16px;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  margin-top: 14px;
}

.signup-btn {
  width: 103px;
  height: 57px;
  background-color: black;
  color: white;
  border-radius: 6px;
  border: none;
  margin-top: 14px;
}

.footer-links i {
  color: #F3525A;
}

.fa-location-dot, .fa-envelope, .fa-phone {
  color: #F3525A;
}

.social-media-icns {
  color: white;
  background-color: #F3525A;
  padding: 16px;
  border-radius: 100%;
  font-size: 18px;
  transition: 1s;
}
.social-media-icns:hover {
  color: black;
}/*# sourceMappingURL=style.css.map */